---
layout: handbook-page-toc
title: "Create:Code Review Group"
description: The Create:Code Review Group is responsible for all product categories that fall under the Code Review group of the Create stage.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

The Create:Code Review Group is responsible for all aspects of the product categories that fall under the [Code Review group][group] of the [Create stage][stage] of the [DevOps lifecycle][lifecycle].

[group]: /handbook/product/categories/#code-review-group
[stage]: /handbook/product/categories/#create-stage
[lifecycle]: /handbook/product/categories/#devops-stages

## Group Members

The following people are permanent members of the Create:Code Review Group:

<%= product_group_table(group: 'Create:Code Review') %>
